# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter-plugins-dependencies

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/
**/ios/Runner.xcworkspace/

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
**/windows/flutter/generated_plugin_registrant.cc

# Linux
**/linux/flutter/generated_plugin_registrant.cc

# Logs
*.log

# IDE
.idea/
.vscode/
*.iml

# Misc
.DS_Store